p{
    text-align: center;
}

h1{
    text-align: center;
}

body{
    background-color: ivory;
    margin-left: 200;
    margin-top: 30;
    font: verdana;
    color: dimgrey;
    size: 3;
}